$courierNew: 'Courier New', Courier, monospace;
$timeNewRoman: 'Times New Roman', Times, serif;
$havana: 'Havana';


$mainFont: $havana;

$navbarHeight:70px;
$description-bgc: rgb(255,239,152);

$screen-xs: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl:1200px;  