.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
}

.App-link {
  color: #8dfb61;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button {
  border: none;
  background-color: transparent;
}

a{
  text-decoration: none;
  color:black;
}

button:focus{
  outline:0;
  background-color: transparent !important;
}

.relative{
  position:relative;
}

.absolute{
  position:absolute;
}


.flex-div-column{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-div-row{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.grow{
  flex-grow:1;
}

.extend-div{
  width:100%;
  height:100%;
}

.width-50-percent{
  width:50%
}

.extend-div-height{
  height:100%;
}

.extend-div-width{
  width:100%;
}


.absolute-horizontal-center {
  position: absolute;  
  left: 50%;
  transform: translateX(-50%);
}

