/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Havana;
  src: url("./havana.ttf");
}
/* line 5, ../../sass/bases/_index.scss */
body {
  margin: 0;
  padding: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 15, ../../sass/bases/_index.scss */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* line 21, ../../sass/bases/_index.scss */
a {
  color: white;
  text-decoration: none;
}

/*p, h1, h2, h3, div, span {
    font-size: 100%;
    font-family: Havana;
    font-style: normal;
    font-weight: normal;
}*/
/* line 1, ../../sass/themes/_flex.scss */
.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 6, ../../sass/themes/_flex.scss */
.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 12, ../../sass/themes/_flex.scss */
.flex-center {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 17, ../../sass/themes/_flex.scss */
.flex-start {
  -webkit-justify-content: start;
  justify-content: start;
}

/* line 21, ../../sass/themes/_flex.scss */
.grow {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

/* line 1, ../../sass/layout/_navbar.scss */
#navbar {
  background-color: #2f2e2e;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}
/* line 9, ../../sass/layout/_navbar.scss */
#navbar:hover {
  opacity: 1;
}
/* line 13, ../../sass/layout/_navbar.scss */
#navbar .navigation {
  justify-content: center;
  height: 100%;
}
/* line 16, ../../sass/layout/_navbar.scss */
#navbar .navigation.opened {
  display: flex;
}
@media screen and (max-width: 768px) {
  /* line 13, ../../sass/layout/_navbar.scss */
  #navbar .navigation {
    display: none;
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
/* line 26, ../../sass/layout/_navbar.scss */
#navbar .burger {
  cursor: pointer;
  color: white;
  display: none;
  margin-right: 20px;
}
/* line 32, ../../sass/layout/_navbar.scss */
#navbar .logo-container {
  width: 60px;
}
/* line 34, ../../sass/layout/_navbar.scss */
#navbar .logo-container img {
  width: 100%;
  height: auto;
}
/* line 39, ../../sass/layout/_navbar.scss */
#navbar .item {
  text-align: center;
  color: #e6e3e3;
  width: 150px;
  height: 100%;
}
/* line 44, ../../sass/layout/_navbar.scss */
#navbar .item .content {
  font-family: "Havana";
}
/* line 47, ../../sass/layout/_navbar.scss */
#navbar .item a, #navbar .item .content {
  height: 100%;
}
/* line 50, ../../sass/layout/_navbar.scss */
#navbar .item a.active {
  background-color: #002d55;
  transform: scale(1.1);
}
/* line 54, ../../sass/layout/_navbar.scss */
#navbar .item:hover {
  background-color: black;
}
/* line 56, ../../sass/layout/_navbar.scss */
#navbar .item:hover a {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  /* line 39, ../../sass/layout/_navbar.scss */
  #navbar .item {
    width: 95%;
    height: 50px;
    padding-left: 0;
    padding-right: 5%;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 768px) {
  /* line 1, ../../sass/layout/_navbar.scss */
  #navbar {
    position: fixed;
    height: auto;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  /* line 74, ../../sass/layout/_navbar.scss */
  #navbar .navbar-header {
    width: 100%;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  }
  /* line 80, ../../sass/layout/_navbar.scss */
  #navbar .burger {
    display: block;
  }
}

/* line 1, ../../sass/layout/_footer.scss */
footer {
  height: 130px;
  background-color: #2f2e2e;
  width: 100%;
  color: white;
}
/* line 7, ../../sass/layout/_footer.scss */
footer .icons a {
  margin: 20px;
  text-align: center;
}
/* line 10, ../../sass/layout/_footer.scss */
footer .icons a i.fa {
  display: inline-block;
  border-radius: 60px;
  background-color: azure;
  color: grey;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}
/* line 17, ../../sass/layout/_footer.scss */
footer .icons a i.fa:hover {
  transform: scale(1.1);
}

/* line 1, ../../sass/modules/_home.scss */
#home {
  position: relative;
  height: 100vh;
  background-color: #d5d5d5;
  overflow: hidden;
}
/* line 6, ../../sass/modules/_home.scss */
#home .next-arrow {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  animation: jump 5s infinite;
  color: white;
}
/* line 14, ../../sass/modules/_home.scss */
#home .next-arrow i {
  font-size: 60px;
}
/* line 17, ../../sass/modules/_home.scss */
#home .next-arrow:hover {
  color: #297fd5;
}
/* line 22, ../../sass/modules/_home.scss */
#home #hero-video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  /* line 1, ../../sass/modules/_home.scss */
  #home {
    height: 50vh;
  }
  /* line 29, ../../sass/modules/_home.scss */
  #home #hero-video {
    height: 50vh;
  }
}

/* line 37, ../../sass/modules/_home.scss */
.transparence-filter {
  background-color: rgba(122, 122, 122, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 46, ../../sass/modules/_home.scss */
.presentation {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  height: 20%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: right;
}
/* line 56, ../../sass/modules/_home.scss */
.presentation .title {
  color: #a8c835;
  text-transform: uppercase;
  font-size: 50px;
  margin: 10px 20px;
}
/* line 62, ../../sass/modules/_home.scss */
.presentation .mantra {
  margin: 0px 20px;
  color: white;
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 0;
  }
}
/* line 1, ../../sass/modules/_product-block.scss */
.product-block {
  width: 100%;
  height: 80vh;
  text-align: center;
}
/* line 5, ../../sass/modules/_product-block.scss */
.product-block .description-container {
  color: white;
  height: 100%;
  background-color: #F4F4F4;
}
/* line 9, ../../sass/modules/_product-block.scss */
.product-block .description-container .description {
  padding: 10%;
  height: 100%;
}
/* line 12, ../../sass/modules/_product-block.scss */
.product-block .description-container .description .title {
  font-size: 30pt;
  margin-bottom: 30px;
  font-family: "Havana";
}
/* line 17, ../../sass/modules/_product-block.scss */
.product-block .description-container .description .text-block {
  text-align: left;
  margin-bottom: 20px;
}
/* line 20, ../../sass/modules/_product-block.scss */
.product-block .description-container .description .text-block .block-title {
  font-size: 20pt;
  margin-left: 10px;
  font-family: "Havana";
}
/* line 25, ../../sass/modules/_product-block.scss */
.product-block .description-container .description .text-block .header {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}
/* line 29, ../../sass/modules/_product-block.scss */
.product-block .description-container .description .text-block .text {
  text-align: left;
  line-height: 1.4em;
}
/* line 38, ../../sass/modules/_product-block.scss */
.product-block.share-co .video-container {
  width: 60%;
  height: 100%;
  overflow: hidden;
}
/* line 42, ../../sass/modules/_product-block.scss */
.product-block.share-co .video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* line 48, ../../sass/modules/_product-block.scss */
.product-block.share-co .description-container {
  color: #4473C5;
  width: 40%;
}
/* line 56, ../../sass/modules/_product-block.scss */
.product-block.eco-scan .img-container {
  width: 40%;
  height: 100%;
}
/* line 59, ../../sass/modules/_product-block.scss */
.product-block.eco-scan .img-container .smartphone-container {
  position: relative;
  width: 50%;
  max-width: calc(320px / 1.5);
  max-height: calc(647px / 1.5);
}
/* line 64, ../../sass/modules/_product-block.scss */
.product-block.eco-scan .img-container .smartphone-container .smartphone {
  width: 100%;
  height: auto;
}
/* line 68, ../../sass/modules/_product-block.scss */
.product-block.eco-scan .img-container .smartphone-container .screen {
  width: 91.5%;
  height: 79.7%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
/* line 78, ../../sass/modules/_product-block.scss */
.product-block.eco-scan .description-container {
  color: #538234;
  width: 60%;
}
@media screen and (max-width: 768px) {
  /* line 1, ../../sass/modules/_product-block.scss */
  .product-block {
    -webkit-flex-direction: column;
    flex-direction: column;
    height: max-content;
  }
  /* line 89, ../../sass/modules/_product-block.scss */
  .product-block.share-co .img-container, .product-block.share-co .video-container, .product-block.eco-scan .img-container, .product-block.eco-scan .video-container {
    width: 100%;
  }
  /* line 92, ../../sass/modules/_product-block.scss */
  .product-block.share-co .description-container, .product-block.eco-scan .description-container {
    width: 100%;
  }
  /* line 94, ../../sass/modules/_product-block.scss */
  .product-block.share-co .description-container .description, .product-block.eco-scan .description-container .description {
    padding: 20px;
  }
  /* line 96, ../../sass/modules/_product-block.scss */
  .product-block.share-co .description-container .description .title, .product-block.eco-scan .description-container .description .title {
    margin-bottom: 20px;
  }
  /* line 103, ../../sass/modules/_product-block.scss */
  .product-block.eco-scan {
    display: table;
  }
  /* line 105, ../../sass/modules/_product-block.scss */
  .product-block.eco-scan .img-container {
    padding: 10% 0%;
  }
  /* line 108, ../../sass/modules/_product-block.scss */
  .product-block.eco-scan .description-container {
    display: table-header-group;
  }
}

/* line 1, ../../sass/modules/_application.scss */
#application {
  width: 100%;
  height: 100vh;
  background-image: url("../images/application_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 9, ../../sass/modules/_application.scss */
#application .title {
  color: white;
  font-size: 30pt;
  margin-bottom: 50px;
}
/* line 14, ../../sass/modules/_application.scss */
#application .video-container {
  width: 80%;
}

/* line 1, ../../sass/modules/_team.scss */
#team {
  width: 100%;
  background-color: #F4F4F4;
}
/* line 4, ../../sass/modules/_team.scss */
#team .title {
  color: #869197;
  width: 100%;
  text-align: center;
  margin: 15px;
  font-size: 30pt;
  margin-bottom: 30px;
  font-family: "Havana";
}
/* line 13, ../../sass/modules/_team.scss */
#team .team-badges {
  flex-wrap: wrap;
  flex: 3;
  width: 100%;
  height: 100%;
}
/* line 18, ../../sass/modules/_team.scss */
#team .team-badges .badge {
  width: 33%;
  margin: 15px 0px;
}
/* line 21, ../../sass/modules/_team.scss */
#team .team-badges .badge img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 5px;
}
/* line 27, ../../sass/modules/_team.scss */
#team .team-badges .badge .name, #team .team-badges .badge .job {
  color: #869197;
}
/* line 30, ../../sass/modules/_team.scss */
#team .team-badges .badge .job {
  font-size: 1.1em;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  /* line 18, ../../sass/modules/_team.scss */
  #team .team-badges .badge {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  /* line 18, ../../sass/modules/_team.scss */
  #team .team-badges .badge {
    width: 100%;
  }
}
