#team{
    width: 100%;
    background-color: #F4F4F4;
    padding: $navbarHeight 0px;
    box-sizing: border-box;
    .title{
        color: #869197;
        width: 100%;
        text-align:center;
        margin:15px;
        font-size: 30pt;
        margin-bottom: 30px;
        font-family: "Havana";
    }
    .team-badges{
        flex-wrap: wrap;
        flex:3;
        width: 100%;
        height:100%;
        .badge{
            width: 33%;
            margin: 15px 0px;
            img{
                width:200px;
                height:200px;
                border-radius: 50%;
                margin-bottom:5px;
            }
            .name, .job{
                color: #869197;
            }
            .job{
                font-size: 1.1em;
                font-weight: bold;
            }
            @media screen and (max-width:$screen-md) {
                width:50%;
            }
            @media screen and (max-width:$screen-xs) {
                width:100%;
            }

        }
    }
}